In [14]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_excel("C:/Users/user/user.xlsx")

In [11]:
data['mb_4']

0            기타
1           근로자
2           NaN
3           근로자
4        대학(원)생
          ...
20005        기타
20006       NaN
20007        기타
20008        기타
20009       NaN
Name: mb_4, Length: 20010, dtype: object

무관		A04-00
대학/대학원생		A04-01
구직자/실업자		A04-02
근로자/직장인		A04-03
예비창업자		A04-04
소상공인		A04-05
중소기업		A04-06
프리랜서		A04-07



무관		A06-00
미혼		A06-01
기혼		A06-02
이혼		A06-03
재혼		A06-04

In [ ]:
data['태그-직장'] = data[data['mb_4'].str.contains('대학')]

In [12]:
data['mb_4'].unique()

array(['기타', '근로자', nan, '대학(원)생', '구직자', '대학(원)생,근로자', '기업인/소상공인',
       '구직자,기업인/소상공인', '프리랜서', '구직자,근로자,기업인/소상공인', '근로자,기업인/소상공인',
       '프리랜서,기타', '근로자,기타', '프리랜서,기업인/소상공인', '근로자,프리랜서',
       '근로자,예비창업자,기업인/소상공인', '기업인/소상공인,기타', '예비창업자',
       '예비창업자,프리랜서,기업인/소상공인', '근로자,예비창업자,프리랜서', '구직자,프리랜서', '대학(원)생,기타',
       '구직자,기타', '구직자,근로자,예비창업자,프리랜서', '구직자,근로자,예비창업자,프리랜서,기타',
       '구직자,근로자,예비창업자,기업인/소상공인', '구직자,근로자,예비창업자', '구직자,근로자,기타', '구직자,근로자',
       '구직자,근로자,예비창업자,기타', '구직자,프리랜서,기타', '구직자,예비창업자,기업인/소상공인',
       '구직자,예비창업자', '대학(원)생,근로자,예비창업자,프리랜서,기업인/소상공인,기타',
       '대학(원)생,기업인/소상공인', '근로자,프리랜서,기업인/소상공인', '대학(원)생,구직자',
       '근로자,프리랜서,기타', '근로자,예비창업자', '구직자,예비창업자,프리랜서,기업인/소상공인',
       '구직자,근로자,프리랜서', '대학(원)생,구직자,근로자,예비창업자,프리랜서,기업인/소상공인,기타',
       '구직자,근로자,예비창업자,프리랜서,기업인/소상공인', '근로자,예비창업자,기타', '예비창업자,기업인/소상공인',
       '예비창업자,프리랜서', '구직자,예비창업자,기타', '근로자,예비창업자,기업인/소상공인,기타',
       '구직자,예비창업자,프리랜서,기타', '대학(원)생,구직자,예비창업자,프리랜서,기타',
       '프리랜서,기업인/소상공인,기타', '구직자,예비창업자,프리랜서', '대학(원)생,구직자,기업인/소상공인',
       '대학(원)생,근로자,프리랜서,기타', '대학(원)생,프리랜서', '구직자,근로자,프리랜서,기타',
       '대학(원)생,예비창업자', '근로자,예비창업자,프리랜서,기타', '대학(원)생,구직자,근로자,예비창업자,프리랜서',
       '구직자,근로자,프리랜서,기업인/소상공인', '예비창업자,프리랜서,기타', '대학(원)생,근로자,예비창업자',
       '대학(원)생,구직자,근로자,예비창업자', '구직자,근로자,프리랜서,기업인/소상공인,기타',
       '대학(원)생,구직자,예비창업자', '대학(원)생,구직자,근로자,기타', '구직자,프리랜서,기업인/소상공인',
       '구직자,근로자,예비창업자,기업인/소상공인,기타', '대학(원)생,구직자,근로자,예비창업자,프리랜서,기업인/소상공인',
       '대학(원)생,구직자,근로자,프리랜서', '대학(원)생,근로자,예비창업자,기업인/소상공인',
       '대학(원)생,구직자,프리랜서,기타', '대학(원)생,프리랜서,기업인/소상공인', '대학(원)생,구직자,근로자',
       '대학(원)생,근로자,프리랜서', '대학(원)생,구직자,근로자,예비창업자,기업인/소상공인',
       '대학(원)생,구직자,프리랜서', '대학(원)생,구직자,근로자,프리랜서,기타',
       '근로자,예비창업자,프리랜서,기업인/소상공인', '예비창업자,기타',
       '대학(원)생,구직자,근로자,예비창업자,프리랜서,기타', '대학(원)생,구직자,기타',
       '대학(원)생,예비창업자,프리랜서', '대학(원)생,근로자,기타', '대학(원)생,구직자,예비창업자,기타',
       '대학(원)생,구직자,예비창업자,프리랜서', '대학(원)생,근로자,기업인/소상공인',
       '예비창업자,기업인/소상공인,기타', '대학(원)생,근로자,예비창업자,프리랜서,기업인/소상공인',
       '대학(원)생,근로자,예비창업자,프리랜서', '구직자,근로자,예비창업자,프리랜서,기업인/소상공인,기타',
       '대학(원)생,예비창업자,프리랜서,기타', '대학(원)생,구직자,기업인/소상공인,기타',
       '대학(원)생,예비창업자,기업인/소상공인', '구직자,기업인/소상공인,기타', '근로자,기업인/소상공인,기타',
       '대학(원)생,예비창업자,기타', '대학(원)생,구직자,예비창업자,기업인/소상공인',
       '대학(원)생,구직자,근로자,예비창업자,기타'], dtype=object)

In [29]:
data["mb_4"].fillna(False,inplace=True)
data['mb_4']

0            기타
1           근로자
2         False
3           근로자
4        대학(원)생
          ...
20005        기타
20006     False
20007        기타
20008        기타
20009     False
Name: mb_4, Length: 20010, dtype: object

In [34]:
conditionlist = [
    (data['mb_4'].str.contains('대학',na=False)),
    (data['mb_4'].str.contains('구직',na=False)),
    (data['mb_4'].str.contains('근로',na=False)),
    (data['mb_4'].str.contains('창업',na=False)),
    (data['mb_4'].str.contains('소상공인',na=False)),
    (data['mb_4'].str.contains('기업',na=False)),
    (data['mb_4'].str.contains('프리랜서',na=False))]
choicelist = ['A04-01','A04-02', 'A04-03','A04-04','A04-05','A04-06','A04-07']
data['태그-직장'] = np.select(conditionlist, choicelist, default='A04-00')

print(data)

         num mb_sex  mb_birth    mb_4 mb_6   태그-직장 태그-결혼여부
0      11726      M  19000101      기타  NaN  A04-00  A06-00
1      21745      M  19000122     근로자   미혼  A04-03  A06-01
2      13327      M  19050101   False  NaN  A04-00  A06-00
3      23542      M  19190101     근로자   기혼  A04-03  A06-02
4      14442      M  19200128  대학(원)생   미혼  A04-01  A06-01
...      ...    ...       ...     ...  ...     ...     ...
20005  25100      F  20070927      기타   미혼  A04-00  A06-01
20006  16309      M  20070928   False  NaN  A04-00  A06-00
20007  24720      F  20071015      기타   미혼  A04-00  A06-01
20008  27341      F  20071015      기타   미혼  A04-00  A06-01
20009  22338      M  20071016   False  NaN  A04-00  A06-00

[20010 rows x 7 columns]

In [35]:
conditionlist = [
    (data['mb_6'] == '미혼'),
    (data['mb_6'] == '기혼'),
    (data['mb_6'] == '이혼'),
    (data['mb_6'] == '재혼')]
choicelist = ['A06-01','A06-02', 'A06-03','A06-04']
data['태그-결혼여부'] = np.select(conditionlist, choicelist, default='A06-00')

print(data)

         num mb_sex  mb_birth    mb_4 mb_6   태그-직장 태그-결혼여부
0      11726      M  19000101      기타  NaN  A04-00  A06-00
1      21745      M  19000122     근로자   미혼  A04-03  A06-01
2      13327      M  19050101   False  NaN  A04-00  A06-00
3      23542      M  19190101     근로자   기혼  A04-03  A06-02
4      14442      M  19200128  대학(원)생   미혼  A04-01  A06-01
...      ...    ...       ...     ...  ...     ...     ...
20005  25100      F  20070927      기타   미혼  A04-00  A06-01
20006  16309      M  20070928   False  NaN  A04-00  A06-00
20007  24720      F  20071015      기타   미혼  A04-00  A06-01
20008  27341      F  20071015      기타   미혼  A04-00  A06-01
20009  22338      M  20071016   False  NaN  A04-00  A06-00

[20010 rows x 7 columns]

In [16]:
data['mb_6'] == '미혼'

0        False
1         True
2        False
3        False
4         True
         ...
20005     True
20006    False
20007     True
20008     True
20009    False
Name: mb_6, Length: 20010, dtype: bool

In [32]:
data['mb_4'].str.contains('대학')

0        False
1        False
2          NaN
3        False
4         True
         ...
20005    False
20006      NaN
20007    False
20008    False
20009      NaN
Name: mb_4, Length: 20010, dtype: object

In [33]:
data['mb_4']

0            기타
1           근로자
2         False
3           근로자
4        대학(원)생
          ...
20005        기타
20006     False
20007        기타
20008        기타
20009     False
Name: mb_4, Length: 20010, dtype: object

In [39]:
data.to_csv("C:/Users/user/직장결혼여부.csv")